<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
<typeAlias alias="Board" type="good.dev.support01.vo.Board"/>
<typeAlias alias="Cloudfunding" type="good.dev.support01.vo.Cloudfunding"/>
<typeAlias alias="History" type="good.dev.support01.vo.History"/>
<typeAlias alias="Item_Survey" type="good.dev.support01.vo.Item_Survey"/>
<typeAlias alias="Item" type="good.dev.support01.vo.Item"/>
<typeAlias alias="Member" type="good.dev.support01.vo.Member"/>
<typeAlias alias="MTI" type="good.dev.support01.vo.MTI"/>
<typeAlias alias="Patent" type="good.dev.support01.vo.Patent"/>
<typeAlias alias="Patentsub" type="good.dev.support01.vo.Patentsub"/>
<typeAlias alias="PTI" type="good.dev.support01.vo.PTI"/>
<typeAlias alias="Reply" type="good.dev.support01.vo.Reply"/>
</typeAliases>
<mappers>
<mapper resource="mapper/memberMapper.xml"/>
<mapper resource="mapper/boardMapper.xml"/>
<mapper resource="mapper/crowdfundingMapper.xml"/>
<mapper resource="mapper/item_SurveyMapper.xml"/>
<mapper resource="mapper/itemMapper.xml"/>
<mapper resource="mapper/MTIMapper.xml"/>
<mapper resource="mapper/patentMapper.xml"/>
<mapper resource="mapper/patentsubMapper.xml"/>
<mapper resource="mapper/PTIMapper.xml"/>
<mapper resource="mapper/replyMapper.xml"/>
<mapper resource="mapper/historyMapper.xml"/>

</mappers>

</configuration>
