<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
<typeAlias alias="Board" type="com.dev.cloud.vo.Board"/>
<typeAlias alias="Crowdfunding" type="com.dev.cloud.vo.Crowdfunding"/>
<typeAlias alias="History" type="com.dev.cloud.vo.History"/>
<typeAlias alias="Survey" type="com.dev.cloud.vo.Survey"/>
<typeAlias alias="Item" type="com.dev.cloud.vo.Item"/>
<typeAlias alias="devMember" type="com.dev.cloud.vo.devMember"/>
<typeAlias alias="Patent" type="com.dev.cloud.vo.Patent"/>
<typeAlias alias="Patentsub" type="com.dev.cloud.vo.Patentsub"/>
<typeAlias alias="PTI" type="com.dev.cloud.vo.PTI"/>
<typeAlias alias="Reply" type="com.dev.cloud.vo.Reply"/>
<typeAlias alias="Question" type="com.dev.cloud.vo.Question"/>
<typeAlias alias="FundingTable" type="com.dev.cloud.vo.FundingTable"/>
<typeAlias alias="FundingOption" type="com.dev.cloud.vo.FundingOption"/>
<typeAlias alias="Question_Time" type="com.dev.cloud.vo.Question_Time"/>
<typeAlias alias="Document" type="com.dev.cloud.vo.Document"/>
<typeAlias alias="officialFile" type="com.dev.cloud.vo.officialFile"/>
<typeAlias alias="QuestionTotal" type="com.dev.cloud.vo.QuestionTotal"/>
<typeAlias alias="Search" type="com.dev.cloud.vo.Search"/>
<typeAlias alias="Total" type="com.dev.cloud.vo.Total"/>
<typeAlias alias="Pat" type="com.dev.cloud.vo.Pat"/>
<typeAlias alias="PatentTotal" type="com.dev.cloud.vo.PatentTotal"/>
<typeAlias alias="PdpVo" type="com.dev.cloud.vo.PdpVo"/>
<typeAlias alias="Chat" type="com.dev.cloud.vo.Chat"/>
</typeAliases>

<mappers>
<mapper resource="mappers/memberMapper.xml"/>
<mapper resource="mappers/boardMapper.xml"/>
<mapper resource="mappers/MTIMapper.xml"/>
<mapper resource="mappers/crowdfundingMapper.xml"/>
<mapper resource="mappers/document.xml"/>
<mapper resource="mappers/documentMapper.xml"/>
<mapper resource="mappers/item_SurveyMapper.xml"/>
<mapper resource="mappers/itemMapper.xml"/>
<mapper resource="mappers/patentMapper.xml"/>
<mapper resource="mappers/patentsubMapper.xml"/>
<mapper resource="mappers/PTIMapper.xml"/>
<mapper resource="mappers/replyMapper.xml"/>
<mapper resource="mappers/historyMapper.xml"/>
<mapper resource="mappers/fundingOption.xml"/>
<mapper resource="mappers/officialFileMapper.xml"/>
<mapper resource="mappers/chatMapper.xml"/>

</mappers>

</configuration>
