<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dev.cloud.dao.fundingMapper">
	<select id="getBoardCount" parameterType="map" resultType="int">
		SELECT count(*)
		FROM Crowdfunding
		<if test="searchItem != null">
			WHERE ${searchItem} LIKE '%'|| #{searchWord} || '%'
		</if>
	</select>

	<select id="selectAll" resultType="Crowdfunding" parameterType="map">
		SELECT
		crowdfundingNum,
		itemNum,
		itemGoalPrice,
		itemCurrecyPrice,
		to_char(fundingDueDate, 'YYYY-MM-DD') as fundingDueDate,
		to_char(fundingStartDate, 'YYYY-MM-DD') as fundingStartDate,
		memberId,
		fundingTitle,
		fundingContents,
		originalFileName,
		savedFileName
		FROM Crowdfunding
		<if test="searchItem != null or searchItem != ''">
			<if test="searchItem.equalsIgnoreCase('All')">
				WHERE MEMBERid LIKE '%'||#{searchWord}||'%'
				OR fundingTitle LIKE '%'||#{searchWord}||'%'
				OR fundingContents LIKE '%'||#{searchWord}||'%'
			</if>
			<if test="!searchItem.equalsIgnoreCase('All')">
				WHERE ${searchItem} LIKE '%'||#{searchWord}||'%'
			</if>
		</if>
		ORDER BY crowdfundingNum DESC
	</select>



	<select id="selectOne" parameterType="Crowdfunding" resultType="Crowdfunding">
		Select *
		From Crowdfunding
		where crowdfundingNum = #{crowdfundingNum}
	</select>
		<insert id="makeCrowdFunding" parameterType="Crowdfunding">
		insert into Crowdfunding (
		crowdfundingNum
		,itemNum
		,itemGoalPrice
		,itemCurrecyPrice
		,fundingDueDate
		,fundingStartDate
		,memberId
		,fundingTitle
		,fundingContents
		)
		VALUES (
		crowdfunding_seq.NEXTVAL
		,#{itemNum}
		,#{itemGoalPrice}
		,#{itemCurrecyPrice}
		,#{fundingDueDate}
		,sysdate
		,#{memberId}
		,#{fundingTitle}
		,#{fundingContents}
		)
	</insert>
	
</mapper>
	