<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>SESbank</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css" />

</head>

<body>

<div class="popwrap">

<h2>입금계좌 입력</h2>
	<div>
		<p class="list_btn">
			<input type="text" class="wr_idcheck" placeholder="2548-589-5841" /> <a href="#">조회</a><br /><br />
			<span style="display:;">
				<span>위 계좌는 유효한 계좌입니다</span><br /><br /><br /><a href="#" class="select">적용</a>
			</span>
			<span style="display:none;">
				<span>위 계좌는 존재하지않는 계좌입니다</span><br /><br /><br />
			</span>
		</p>
		
	</div>
</div>



</body>

</html>