<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>SESbank</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css" />

</head>

<body>

<div class="popwrap">

<h2>출금계좌 선택</h2>
	<div style="">
		<table>
			<tr>
				<th>선택</th>
				<th>계좌번호</th>
				<th>잔고</th>
			</tr>
			<tr>
				<td><input type="radio" name="accountsel" checked /></td>
				<td>2548-698-51112</td>
				<td>12,000,000</td>
			</tr>
			<tr>
				<td><input type="radio" name="accountsel" /></td>
				<td>2548-698-51112</td>
				<td>12,000,000</td>
			</tr>
		</table>

		<p class="list_btn">
			<a href="#">선택</a>
		</p>
	</div>
</div>



</body>

</html>