<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dev.cloud.dao.item_SurveyMapper">

	<insert id="insertItem_Question" parameterType="Item_Question">

		insert into
		Item_Question (
		questionNum
		,itemNum
		,question
		,description
		,dueDate
		,startDate
		)
		VALUES (
		Item_Question_seq.NEXTVAL
		,#{itemNum}
		,#{question}
		,#{description}
		,#{dueDate}
		,#{startDate}
		)
	</insert>


	<select id="getItem_QuestionByItemNum" parameterType="Item_Question"
		resultType="Item_Question">
		
		select *
		from Item_Question
		where itemNum=#{itemNum}
		and SYSDATE between  #{startDate}) AND #{dueDate}
	</select>

	<update id="updateItem_Question" parameterType="Item_Question">

		UPDATE Item_Question

		SET
		question = #{question}
		,description = #{description}
		,dueDate = #{dueDate}
		,startDate = #{startDate}

		WHERE questionNum=#{questionNum}

	</update>
	
	
	
	
	<update id="writeEtc" parameterType="Item_Question">
		UPDATE Item_Question
		SET
		etc = #{etc}
		WHERE questionNum=#{questionNum}
	</update>
	<update id="deleteItem_Question" parameterType="Item_Question">

		UPDATE Item_Question

		SET
		question = 'none'

		WHERE questionNum=#{questionNum}

	</update>

	<insert id="insertItem_Survey" parameterType="Item_Survey">

		insert into
		Item_Survey (
		surveyNum
		,questionNum
		,qValuable
		,writtenDate
		)
		VALUES (
		Item_Survey_seq.NEXTVAL
		,#{questionNum}
		,#{qValuable}
		,SYSDATE
		)
	</insert>
	
	<select id="getqValueableByQuestionNum" parameterType="Item_Question" resultType="Item_Survey">
		
		select *
		from Item_Survey
		where questionNum=#{questionNum} and 
		writtenDate between  #{startDate} AND #{dueDate}
	
	</select>

	<update id="updateItem_Survey" parameterType="Item_Survey">

		UPDATE Item_Survey
		SET
		qValuable = #{qValuable}
		WHERE surveyNum=#{surveyNum}

	</update>
	


</mapper>


