<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dev.cloud.dao.memberMapper">
	<!-- 	회원가입 -->
	<insert id="signup_member" parameterType="Member">
	insert into Member (
	id
	,pw
	,memberType
	,email
	,memberName
	,phoneNum
	) 
	VALUES (
	#{id}
	,#{pw}
	,#{memberType}
	,#{email}
	,#{memberName}
	,#{phoneNum}
	)

	</insert>
	
	<!-- 로그인 -->
	<select id="login_member" parameterType="Member" resultType="Member">
	select 
	*
	from Member
	where id=#{id} 
	and pw=#{pw}
	
	</select>
	
		
	<!-- 아이디/비번찾기 -->
	<select id="searchId_pw_member" parameterType="Member" resultType="Member">
	select  
	id
	from Member
	where memberName=#{memberName}
	and email=#{email}
	<if test="id != ''">
	and id=#{id}
	</if> 
	</select>
	
	<!-- 회원수정 -->
	<update id="update_member" parameterType="Member">
	UPDATE Member 
	SET 
	pw = #{pw}
	,email = #{email}
	,phoneNum=#{phoneNum}
	where 
	id=#{id} 
	</update>
	
	<!-- 회원탈퇴 -->
	<!-- 회원탈퇴시 타입을 none으로 변경하고 자바에서 none의 회원은 로그인이 안되도록 잡아준다. -->
	<update id="delete_member" parameterType="Member">
	UPDATE Member 
	SET 
	memberType = 'none'
	where 
	id=#{id}
	and pw=#{pw} 
	</update>
	
</mapper>

